/* default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #181818;
    color: white;
    padding: 0.1rem;
}

  /* body styles */
body {
    font-family: 'Space Grotesk', sans-serif;
    line-height: 1.5;
}

.flex{
    display: flex;
    padding: 5px;
    justify-content: space-between;
    margin: 0;
    viewport-fit: cover;
}

/* navigation styles */
nav {
    padding: 10px;
    display: flex;
}

/* navigation bar elements style - whole menu*/
nav ul {
    display: flex;
    list-style-type: none;
    text-align: right;
    margin-top: 50px;
    text-decoration: underline #4ee1a0;
    
}
/* navigation bar elements style - each one*/
nav ul li {
    display: inline-block;
    margin-right: 20px;
}

/* navigation bar href style */
nav ul li a {
    text-decoration: none;
    transition: color 0.3s;
}

/* navigation bar href style when hovering*/
nav ul li a:hover {

    color: white;
    text-decoration: underline #ff5fa7;
    cursor: pointer;
}

  /* Header styles */
header {
    text-align: left;
    padding: 50px;
}

header h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 32px;
    padding: 0;
}

header h2 {
    color: #097ea8;
    font-size: medium;
    margin-bottom: 20px;
}

  /* header image styles */
header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* background wave image styles */
.background img{
    max-height: 200px;
    min-width: 100%;
}

  /* about section styles */
section {
    padding: 25px;
    justify-content: center;
}

section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #4ee1a0;
}

/*work section styles */
#work h2 {
    color: #ff5fa7;
}
section p {
    margin-bottom: 30px;
    justify-content: center;
}

/* applications 2-5 box styles */
.other_applications {
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.265);
}

.other_applications a {
    flex-basis: calc(33.33% - 20px);
    padding: 20px; /* Add padding to the application links */
    border: 1px solid rgba(255, 255, 255, 0.265); /* Add border */
    border-radius: 5px; /* Add border radius */
     overflow: hidden; /* Hide overflow */
    margin: 5px;
    max-height: 300px;

}

/* applications 2-5 image styles */
.other_applications img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

/* applications 2-5 image styles when hovering */
.other_applications :hover{
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

/*application box style for first application */
.application a{
    display: flex;
    padding: 25px; /* Add padding to the application links */
    border: 1px solid rgba(255, 255, 255, 0.265); /* Add border */
    border-radius: 5px; /* Add border radius */
     overflow: hidden; /* Hide overflow */
    margin: 5px;
    max-height: 300px;
}

/* application image style for first application */
.application img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    align-content: center;
    justify-content: center;
}

/* application image style for first application when hovering */
.application :hover{
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

  /* contact section styles */
#contact {

    text-align: center;
    padding: 50px;
}

#contact h2 {
    color: #b08bff;
}

  /* responsive styles */
@media screen and (max-width: 768px) {
    header img {
    width: 120px;
    height: 120px;
    }

    
    .application {
    flex-wrap: wrap;
    }

    .application a {
    flex-basis: calc(50% - 20px);
    margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    header h1 {
    font-size: 24px;
    }

    section h2 {
    font-size: 20px;
    }
}
