/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #151515;
    color: white;
    padding: 0.1rem;
}

  /* Body styles */
body {
    font-family: 'Space Grotesk', sans-serif;
    line-height: 1.5;
}

.flex{
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

  /* Navigation styles */
nav {
    padding: 10px;
    display: flex;
}

nav ul {
    display: flex;
    list-style-type: none;
    text-align: right;
    margin-top: 50px;
    text-decoration: underline;
    color: #4ee1a0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
}

  /* Header styles */
header {
    text-align: left;
    padding: 50px;
}

header h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 32px;
    margin-bottom: 10px;
}

header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

  /* Section styles */
section {
    padding: 25px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #4ee1a0;
}


#work h2 {
    color: #ff5fa7;
}
section p {
    margin-bottom: 30px;
}

.other_applications {
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.265);
}

.other_applications a {
    flex-basis: calc(33.33% - 20px);
    padding: 20px; /* Add padding to the application links */
    border: 1px solid rgba(255, 255, 255, 0.265); /* Add border */
    border-radius: 5px; /* Add border radius */
     overflow: hidden; /* Hide overflow */
    margin: 5px;
    max-height: 300px;

}

.other_applications img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.other_applications :hover{
    color: white;
    border: 1px solid white;
}


.application a{
    display: flex;
    padding: 25px; /* Add padding to the application links */
    border: 1px solid rgba(255, 255, 255, 0.265); /* Add border */
    border-radius: 5px; /* Add border radius */
     overflow: hidden; /* Hide overflow */
    margin: 5px;
    max-height: 300px;
}

.application img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    align-content: center;
    justify-content: center;
}

.application :hover{
    color: white;
    border: 1px solid white;
}

  /* Contact section styles */
#contact {

    text-align: center;
    padding: 50px;
}

  /* Responsive styles */
@media screen and (max-width: 768px) {
    header img {
    width: 120px;
    height: 120px;
    }

    .application {
    flex-wrap: wrap;
    }

    .application a {
    flex-basis: calc(50% - 20px);
    margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    header h1 {
    font-size: 24px;
    }

    section h2 {
    font-size: 20px;
    }
}

.background img{
    max-height: 200px;
    width: 100%;
    

}